table, td, th{
    border-collapse: collapse;
    text-align: center;
    border: none;
}
th{
    height: 81px;
}
th, td{
     border-bottom: 1px solid #ddd;
}
.rows:nth-child(odd) {background-color: #f2f2f2}
img{
    width: 250px;
    height: 250px;
}
table{
    width: 100%;
}
